@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Poppins", sans-serif;
}

code {
  font-family: "Poppins", sans-serif;
}

@font-face {
  font-family: "hurme-geometric", sans-serif;
  src: url('./assets/fonts/HurmeGeometricSans1-Bold.otf');
}

.ff_hurmebold {
  font-family: "hurme-geometricbold", sans-serif !important;
}

@font-face {
  font-family: "HurmeGeometricSans1-Thin", sans-serif;
  src: url('./assets/fonts/HurmeGeometricSans1-Thin.otf');
}

.ff_hurmethin {
  font-family: "HurmeGeometricSans1-Thin", sans-serif !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;